/HW1/hw1.X/nbproject/private/
/HW1/hw1.X/build/default/
/HW1/hw1.X/dist/default/
/HW4/hw4.X/nbproject/private/
/HW4/hw4.X/build/default/
/HW4/hw4.X/dist/default/
/HW5/hw5.X/nbproject/private/
/HW5/hw5.X/build/default/
/HW5/hw5.X/dist/default/